# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/
env/
.venv/
ENV/

# Editor configs
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# Banco de dados SQLite (se houver)
*.sqlite3

# Arquivos de testes temporários
*.coverage
htmlcov/
.tox/
.pytest_cache/

# Arquivos de build
dist/
build/
*.egg-info/

# Arquivos de configurações pessoais
*.db
*.bak
*.orig
